.form-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding-top: 50px;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .form-article {
    width: 100%;
    align-items: center;
  }
}