*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.basicDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.resumeDiv{
    border: 3px solid limegreen;
    border-style: dashed;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    color: limegreen
}