.leftlower{
    width: 65%;
    border: 1px solid  rgb(142,110,255);
    position: relative;
    color: white;
    background: linear-gradient(to right,rgb(121, 84, 255),rgb(142, 110, 255));
    border-bottom-right-radius: 20px;
}

.descWithBtn{
    display: flex;
    width:100%;
    padding: 5px;
}

.joblogo{
    position: absolute;
    width: 15%;
    height: 40%;
    left: -8%;
    border: 1px solid  rgb(142,110,255);
    top: 32%;
}

.descWithHeading{
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width:100%;
}
.leftlower h1{
    font-size: 20px;
}
.joblogo img{
    object-fit:cover;
    height: 100%;
    width: 100%;
    display: block;
}

.jobdescription{
    display: flex;
    gap:8px;
    flex-direction: column;
    align-items: space-between;
}
.cname , .typejob , .expJob{
    display: flex;
    align-items: center;
    font-size: 18px;
    column-gap: 10px;
}


.jobBtnDiv{
    width: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 9%;
    padding: 1%;
}

.jobBtn{
    padding: 10px 30px;
    background-color: #7b57ff;
    border: 1px solid #2e02cc;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 50px
}

@media (max-width:1210px){
    .leftlower{
        width: 110%;
    }
}

@media (max-width:800px){
    .joblogo{
        top:-15%;
        left: 35%;
        width: 30%;
        height: 25%;
    }

    .leftlower{
        margin-top: 20%;
        border-bottom-right-radius: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 10px;
    }

    .jobBtnDiv{
        justify-content: center;
        margin-top: 0;
        margin-bottom: 5%;
    }

    .descWithBtn{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .descWithHeading h2{
        margin-top: 20%;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .descWithHeading{
        align-items: center;
        width: 100%;
        padding-left: 0;
    }

    .jobdescription{
        row-gap: 20px;
        margin-top: 4%;
    }
    
}

@media (550px <= width <=800px){
    .leftlower{
        width: 70%;
    }
}