.carrierFieldItems{
    width: 33.3333%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    row-gap: 40px;
    cursor: pointer;
    transition: 0.5s ;
}

.carrierFieldItems p{
    font-size: 100%;
    font-weight:700;
    text-align: center;
}

.carrierFieldItems svg{
    font-size: 40px;
    color: gray;
    transition: 0.5s;
}

.carrierFieldItems:hover svg{
    color: limegreen;
}





.carrierFieldItems:hover{
    color: limegreen;
    
}
@media (max-width: 1200px)
{
    .carrierFieldItems{
        width: 33.3333333333%;
    }
}
@media (max-width: 700px)
{
    .carrierFieldItems p{
        font-size: 12   px;
        font-weight:700;
        text-align: center;
    }
    
    .carrierFieldItems svg{
        font-size: 30px;
        color: gray;
        transition: 0.5s;
    }
}
@media (max-width: 550px)
{
    .carrierFieldItems{
        width: 100%;
        padding: 20px ;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        row-gap:20px;
    }
    .carrierFieldItems:hover{
        box-shadow: limegreen 0px 25px 20px -20px;
    }
}