.search-con {
    max-width: 900px;
    margin: 50px auto;
    width: 70%;
    display: flex;
    height: 50px;
    border-radius: 10px;
    letter-spacing: 2px;
  }
  
  .btnLessDiv {
    display: flex;
    width: 100%;
    padding: 0;
  }
  
  .selectDiv {
    display: flex;
    width: 50%;
  }
  
  .search {
    display: flex;
    width: 100%;
  }
  
  .sea-btn {
    width: 20%;
    height: 50px;
    background-color: limegreen;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .sea-btn .goBtn {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  #job{
    width:100%;
  }
  #location {
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .search-con {
      flex-direction: column;
      row-gap: 9px;
      padding: 10px;
      height: max-content;
    }
    .btnLessDiv {
      flex-direction: column;
      row-gap: 9px;
    }
    .selectDiv {
      flex-direction: column;
      width: 100%;
      row-gap: 9px;
    }
    #location,
    #experience,
    .search {
      width: 100%;
    }
    .sea-btn {
      width: 100%;
      border-radius: 0px;
    }
    .goBtn {
      height: 49.9px;
      border-radius: 0px;
    }
  }