.search-con{
    margin: 50px auto;
    width: 80%;
    display: flex;
    height: 50px;
    border-radius: 10px;
    letter-spacing: 2px;
}

.btnLessDiv{
    display: flex;
    width: 100%;
    background-color: aqua;
    padding: 0;
}
.selectDiv{
    display:flex;
    width: 60%;
}
.search{
    height: 50px;
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid lightgray;
    background-color: #fff;
    border-radius: 4px;

}

.search input{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0 15px;
    font-size: 15px;
}

.search input:focus{
    outline: none;
}

.sea-btn{
    width: 10%;
    height: 50px;
    background-color: limegreen;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sea-btn input{
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;

}
.sea-btn button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 10%;
    color: white;
    font-weight: bold;
    font-size: 20px;    
    text-align: center;
    cursor: pointer;
}
#location{
    width:50%;
}
#experience{
    width: 50%;
}

