 img{
    width:  100%;
    border-radius: 10px;   
}
.rimage{
    border: 2px solid gray;
    border-radius: 10px;
    margin-top: 1%;
}

.jobivistcss {
    width: 100%;
    display: flex;
    margin-top: 10%;
    column-gap: 2%;
    justify-content: center;
    /* background-color: aqua; */
}
.jobivistcss a {
    width: 150%;
}
.BecomeJobivist{
    margin-top: 15%;
}
.BecomeJobivist h3{
font-family: 'Borel', cursive;
font-size: 40px;
}

@media (max-width:1210px){
    .rimage{
        width: 150%;
        margin-top: 6%;
    }
}
@media(max-width:800px){
    .BecomeJobivist  h3{
    font-size: 25px;

    }
}