.NavSection{
    display:flex;
    justify-content: space-between;
    padding: 2.5% 5%;
}
@font-face {
    font-family: "Hunt";
    src: url("./disoluta-ffp/Disoluta-font-FFP.ttf");
}
.logo{
  font-family: "Hunt";
  font-size: 40px;  
}

.btnLoginReg{
  position: relative;
  width:15%;
}
.loginRegisterBtn{
    color: limegreen;
    background-color: transparent;
    border-radius: 8px;
    width: 95%;
    padding: 6%;
    font-size: 120%;
    border: 1px solid limegreen;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.loginRegisterBtn:hover{
    color:white;
    background-color: limegreen;

}

.btns{
    position: absolute;
    top: 100%;
    display: flex;
    width: 100%;
    justify-content:space-around;
    gap: 5%;
}
/* Note that you only needs to edit the config to customize the button! */

.button-86 {
  /* Config start */
  --signIn_width: 6rem;
  --signIn_height: 2.5rem;
  --signIn_bottomLeftTriangleSideLength: 1rem;
  --signIn_topRightTriangleSideLength: 0.9rem;
  /* Config end */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 6rem;
  height: 2.5rem;
  background-color: limegreen;
  overflow: hidden;
}

.button-86::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-width: 0 var(--signIn_bottomLeftTriangleSideLength) var(--signIn_bottomLeftTriangleSideLength) 0;
  border-style: solid;
  border-color: transparent transparent white transparent;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.button-86::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: calc(var(--signIn_topRightTriangleSideLength) * 1.4142135623730950488016887242097);
  height: calc(var(--signIn_topRightTriangleSideLength) * 1.4142135623730950488016887242097);
  outline: 1px solid white;
  transform: translate(50%, -50%) rotate(45deg);
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.button-86:hover {
  cursor: pointer;
}

.button-86:hover::before {
  --signIn_bottomLeftTriangleSideLength: calc(var(--signIn_width) + var(--signIn_height) - var(--signIn_topRightTriangleSideLength) + (var(--signIn_topRightTriangleSideLength) * 0.3));
}

.button-86:focus-visible::before {
  --signIn_bottomLeftTriangleSideLength: calc(var(--signIn_width) + var(--signIn_height) - var(--signIn_topRightTriangleSideLength) + (var(--signIn_topRightTriangleSideLength) * 0.3));
}

.button-86:hover::after {
  transform: translate(calc(50% + var(--signIn_topRightTriangleSideLength) * 0.1), calc((50% + var(--signIn_topRightTriangleSideLength) * 0.1) * -1)) rotate(45deg);
}

.button-86:focus-visible::after {
  transform: translate(calc(50% + var(--signIn_topRightTriangleSideLength) * 0.1), calc((50% + var(--signIn_topRightTriangleSideLength) * 0.1) * -1)) rotate(45deg);
}

.button-86:hover>.button-86Text {
  color: black;
}

.button-86:focus-visible>.button-86Text {
  color: black;
}

.button-86Text {
  margin: auto 0;
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.profileContainer{
  padding: 5px;
  display: flex;
  border: 2px solid limegreen;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap:20px;
  cursor:pointer;
}
.profileIcon{
  border: 2px solid limegreen;
  border-radius:50%;
  font-size:220%;
  /* padding: 5px */
  color: limegreen;
}
.profileName{
  font-size: 24px;
  font-weight: 800;
  padding-right: 3px;
}
@media (max-width:768px) {
  .logo{
    font-size: 25px;

  }
.btns{
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  top: 110%;
}
}
@media(max-width:1100px){
  .loginRegisterBtn{
    font-size: 15px;
  }
}
@media(max-width:822px){
  .loginRegisterBtn{
    font-size: 12px;
  }
}
@media(max-width:822px){
.btnLoginReg{
  width: 20%;
  }
}
@media(max-width:515px){
  .btnLoginReg{
    width: 25%;
    }
  }

    