.nav{
    display: flex;
    justify-content: space-between;
    padding:10px 50px ;
    position: relative;
}

.nav h1{
    font-family: 'Borel', cursive;
    font-size: 20px;
    letter-spacing: 2px;
}

.btn{
    padding: 5px 15px;
    background-color: limegreen;
    border: none;
    border-radius: 10px;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;

    
}

.btn:hover{
    outline: 2px solid limegreen;
    outline-offset: 2px;

}

.btns{
    position: absolute;
    border: 1px solid limegreen;
    width: fit-content;
    right: 100px;
    top:115%;
    border:none;
}

.login-btn,.register-btn {
    padding: 10px 40px;
    background-color: rgb(155, 206, 239);
    border: none;
    color:white;
    letter-spacing: 2px;
    font-size: 20px;
    text-decoration: none;
}

.up-arrow{
    position: absolute;
    top: -40% ;
    right: 20px;
}


