.footr{
  /* dark:bg-gray-900 */
  background-color: white;
  width: 100%;
  background-color: #111827;

}

.footer2{
  /* lg:py-8 */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
  padding: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}


.footer4{
  /*  md:mb-0  lg:text-start */
  margin-bottom: 24px;
  text-align: center;

}

.footer5{
  /*  sm:gap-6 sm:grid-cols-3 */
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 32px;  
  place-items: center;
  
}

.fff{
  /* width: 100%; */
}

.footer6{
  /*  dark:text-white */
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: bold;
  color: gray;
  text-transform: uppercase;
}

.footer7{
  /*  dark:text-gray-400  */
  color:gray;
  font-weight: 500;
  
}

.footer7 li{
  margin-bottom: 16px;
}

.footer7 a{
  text-decoration: none;
  color: white;
}

.footer7 a:hover{
  text-decoration: underline;

}
.fnt{
    font-family: 'Borel', cursive;
    font-size: 50px;
    color: white;
}
.fnt1{
    font-family: 'Borel', cursive;
    font-size: 20px;
}

.fnt2{
    font-size: 20px;
}

.horizontal-line{
  /* sm:mx-auto dark:border-gray-700 lg:my-8  */
  margin-top: 24px;
  margin-bottom: 24px;
  border: 1px solid gray;

}




.social {
    margin: 0;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    row-gap: 2rem;
  }
  
  .social .social-item {
    margin: 0 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social .social-item .social-link {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg)
      translate(0, 0);
    transition: all 0.4s ease;
  }
  

  @media (max-width : 420px){
    .social{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        
    }

    .footer5{
      /*  sm:gap-6 sm:grid-cols-3 */
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 32px;  
      
      place-items: center;
      
    }

    
  }
  .social .social-item .social-link::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    height: 100%;
    width: 10px;
    background: #b1b1b1;
    transition: all 0.4s ease;
    transform: rotate(0deg) skewY(-45deg);
  }
  
  .social .social-item .social-link::after {
    content: "";
    position: absolute;
    top: 40px;
    left: -5px;
    height: 10px;
    width: 100%;
    background: #b1b1b1;
    transition: all 0.4s ease;
    transform: rotate(0deg) skewX(-45deg);
  }
  
  .social .social-item .social-link:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(5px, -5px);
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
  }
  
  .social .social-item:nth-child(1) a {
    color: #3b5999;
  }
  
  .social .social-item:nth-child(1):hover a {
    background: #3b5999;
  }
  
  .social .social-item:nth-child(1):hover a::before {
    background: #3b5999;
  }
  
  .social .social-item:nth-child(1):hover a::after {
    background: #3b5999;
  }
  
  .social .social-item:nth-child(2) a {
    color: #55acee;
  }
  
  .social .social-item:nth-child(2):hover a {
    background: #55acee;
  }
  
  .social .social-item:nth-child(2):hover a::before {
    background: #55acee;
  }
  
  .social .social-item:nth-child(2):hover a::after {
    background: #55acee;
  }
  
  .social .social-item:nth-child(3) a {
    color: #dd4b39;
  }
  
  .social .social-item:nth-child(3):hover a {
    background: #dd4b39;
  }
  
  .social .social-item:nth-child(3):hover a::before {
    background: #dd4b39;
  }
  
  .social .social-item:nth-child(3):hover a::after {
    background: #dd4b39;
  }
  
  .social .social-item:nth-child(4) a {
    color: #e4405f;
  }
  
  .social .social-item:nth-child(4):hover a {
    background: #e4405f;
  }
  
  .social .social-item:nth-child(4):hover a::before {
    background: #e4405f;
  }
  
  .social .social-item:nth-child(4):hover a::after {
    background: #e4405f;
  }
  
  .social .social-item .social-link:hover {
    color: #ffffff;
  }
  
  

  .footer-social{
    /* flex flex-col space-y-8 justify-between flex-wrap lg:flex-row lg:space-y-0 */
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  .footer-social1{

    /* text-white text-center lg:text-start */
    color: white;
    text-align: center;

  }

  

  @media (min-width : 1024px){
    .footer2{
      padding-top: 32px;
      padding-bottom: 32px;
    }

    .footer-social{
      flex-direction: row;
      margin-top: 0;
    }

    .footer-social1{
      text-align: start;
    }

    .footer-social{
      row-gap: 0px;

    }
  
    
    
  }
  
  @media (min-width:768px) {
    .footer3{
      display: flex;
      justify-content: space-between;
    }
  
    .footer4{
      margin-bottom: 0;
      text-align: start;

    }

    .footer-social{
      row-gap: 20px;

    }

    
    
  }
  
  @media (min-width : 640px){
    .footer5{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 24px;
    }

    .footer-social{
      row-gap: 20px;

    }

    
  }