

.carrierFieldItems{
    width: 16.6%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    row-gap: 40px;
    cursor: pointer;
}

.carrierFieldItems p{
    font-size: 100%;
    font-weight:700;
    text-align: center;
}

.carrierFieldItems svg{
    font-size: 40px;
    color: gray;
}

.carrierFieldItems:hover svg{
    color: limegreen;
}





.carrierFieldItems:hover{
    color: limegreen;
    
}