.sideNumberBarArticle {
  width: 35%;
  display: flex;
  justify-content: flex-end;
}
.container {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.numberCircle {
  width: 60px;
  height: 60px;
  border: 4px solid rgb(218, 216, 216);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 180%;
  font-weight: 400;
  color: rgb(218, 216, 216);
  cursor: pointer;
  margin-left: 5.5%;
}

.line {
  height: 40px;
  background: rgb(218, 216, 216);
  width: 4px;
  margin-left: 12%;
}
.abc {
  display: flex;
  gap: 20px;
  align-items: center;
}
.activeCircle {
  border: 4px solid limegreen;
  color: black;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 180%;
  font-weight: 400;
  cursor: pointer;
  margin-left: 5.5%;
}
.activeLine {
  background: limegreen;
  height: 40px;
  width: 4px;
  margin-left: 12%;
}

.sideText {
  color: rgb(218, 216, 216);
  cursor: pointer;
}
.activeText {
  color: black;
}
.completedCircle {
  border: 4px solid limegreen;
  color: limegreen;
  background-color: #fff !important;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2000%;
  font-weight: 400;
  cursor: pointer;
  background-color: limegreen;
  margin-left: 5.5%;
}

@media (max-width: 768px) {
  .sideNumberBarArticle{
    width: 100%;
    padding: 3%;  
    justify-content: center;
  }
  .abc{
    flex-direction: column;
    justify-content: center;
    text-align: center;
 
  }
  .container{
    flex-direction: row;
    gap: 3%;
    justify-content: center;
  }
  .line, .activeLine{
    display: none;
  }
}
@media (max-width: 410px)
{
  .numberCircle{
    width: 40px;
    height: 40px;
    font-size: 120%
  }
  .activeCircle{
    width: 40px;
    height: 40px;
    font-size: 120%
  }
  .sideText{
    font-size: 15px;
  }
}